@using EntityLayer.Entities
@model List<Service>

<div class="sevices-w3layouts" id="services">
   <div class="container">
      <h3 class="tittle">Hizmetlerimiz</h3>
      <p class="heading-btm-w3ls">4 farklı Hizmeti Sizlere Sunuyoruz</p>
      <div class="services-main">




       

         @foreach (var item in Model)
         {

				<div class="@item.Class1">
					<h5>@item.Title</h5>
					<p>@item.Description</p>
					<div class="@item.Class2">
						<i class="@item.İmage" aria-hidden="true"></i>
						<p>@item.Title</p>
					</div>
				</div>

         }

      </div>
      <div class="clearfix"> </div>
   </div>
</div>